body {
    margin: 0;
    font-family: 'Inter', sans-serif;
}

nav {
    height: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
}

#logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.125rem;
    color: #3A404E;
}

#navigation-bar {
    display: flex;
    gap: 2rem;
}

#login {
    display: flex;
    gap: 1.875rem;
}

button {
    width: 7rem;
    height: 2.75rem;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    border: none;
    border-radius: 0.5rem;
}

#entrar {
    font-weight: 500;
    color: #667085;
    background-color: #fff;
}

.cadastrar {
    color: #fff;
    background-color: #8e2424;
}

#seçao-inicial {
    margin: 6rem 20.313rem 6.688rem 20.313rem;
    text-align: center;
}

#sobre-nos {
    font-size: 1rem;
    font-weight: 600;
    color: #8e2424;
}

h1 {
    font-size: 3rem;
    color: #101828;  
}

#texto {
    font-size: 1.25rem;
    color: #667085;
}

#numeros {
    height: 18rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin: 0 7rem 0 7rem;
}

.numero-grande {
    font-size: 3.75rem;
    font-weight: 600;
    color:#8e2424
}

.topico {
    margin: 0.75rem 0 0.5rem 0;
    font-size: 1.125rem;
    font-weight: 500;
    color: #101828;
}

.descriçao {
    font-size: 1rem;
    color: #667085;
}

#vagas {
    margin-top: 6.75rem;
}

#talentos {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
}

#vagas-abertas {
    width: 7.813rem;
    height: 1.75rem;
    font-size: 0.875rem;
    font-weight: 500;
    color: #8e2424;
    background-color: rgba(142, 36, 36, 0.05);
    border-radius: 1rem;
    line-height: 1.75rem;
    margin: auto;
}

#talentos-titulo {
    font-size: 2.75rem;
    font-weight: 600;
    color: #101828;
}

#talentos-subtitulo {
    font-size: 1.25rem;
    color: #667085;
}

#talentos-imagem {
    text-align: center;
}

#oferta-vagas {
    width: 48rem;
    margin: auto;
}

.oferta-vagas-titulo {
    font-size: 1.25rem;
    font-weight: 500;
    color: #101828;
    margin-top: 4rem;
}

.oferta-vagas-descriçao {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    border: 0.063rem solid #eaecf0;
    border-radius: 1rem;
}

.vaga {
    font-size: 1.125rem;
    font-weight: 500;
    color: #101828;
    padding: 1.5rem 1.5rem 0 1.5rem;
}

.vaga-descriçao {
    font-size: 1rem;
    color: #667085;
    padding: 0 1.5rem 1.5rem 1.5rem
}

#depoimentos {
    margin: 6rem 7rem;
    background-color: rgba(196, 25, 25, 0.03);
    text-align: center;
    padding: 4rem;
}

#veja  {
    font-size: 0.875rem;
    font-weight: 600;
    color: #8e2424;
}

#comentario {
    font-size: 2rem;
    font-weight: 500;
    margin: 1rem 0 2rem 0;
}

#nome {
    font-size: 1rem;
    font-weight: 500;
    margin: 1rem 0 0.25rem 0;
}

#profissao {
    font-size: 0.875rem;
    color: #667085;
}

#formulario {
    background-color: rgba(196, 25, 25, 0.03);
    text-align: center;
    padding-top: 6rem;
    padding-bottom: 6rem;
}

#acompanhe {
    font-size: 2rem;
    font-weight: 600;
    color: #101828;
}

#seja {
    font-size: 1.25rem;
    color: #667085;
    margin: 1.25rem 0 2.5rem 0;
}


input {
    width: 22.5rem;
    height: 2.75rem;
    border: 0.063rem solid #d0d5dd;
    border-radius: 0.5rem;
    font-family: 'Inter', sans-serif;
}

#input {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

#input button {
    height: 3rem;
}

#copyright {
    font-size: 1rem;
    color: #667085;
    text-align: center;
    margin-top: 2rem;
}
